section ul {
	flex-direction: column;
}

main section {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	flex-wrap: nowrap;
}

main ul {
	display: flex;
	flex-direction: column;
}