main section {
	background-color: transparent;
}

button {
	background-color: white;
	color: #233E75;
}

main li {
	width: 50%;
	text-align: center;
	display: block;
	background-color: white;
	color: #233E75;
	border-radius: 25px;
	padding: 2.5%;
	margin: 2.5%;
}
