main section {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	flex-wrap: nowrap;
	margin-bottom: 5%;
}

main ul {
	display: flex;
	flex-direction: column;
}

main li {
	margin: 2.5%;
	padding: 2.5%;
}

main button {
	margin: 0;
}

#happyTailsScroller img, #memorialsScroller img {
	border-radius: 25px;
}